.services {
  padding: 0 0 50px 0;
}
.container {
}
.services_title {
  padding: 50px 50px;
  font-size: 40px;
  color: #8eaf0c;
  line-height: 1.35;
  text-align: center;
  font-weight: 600;
}
.wrapper_services ol {
}
.wrapper_services ol li {
  flex: 1;
  padding: 20px 0px;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 1px;
}
@media (max-width: 1200px) {
  .wrapper_services ol li {
    margin: 0 50px;
  }
}
@media (max-width: 600px) {
  .wrapper_services ol {
    display: block;
  }
  .wrapper_services ol li {
    padding-top: 15px;
  }
  .services_title {
    padding: 60px 50px 20px 50px;
  }
}
